.mypy_cache
.env
*.egg-info
.idea
__pycache__
data/*
!data/djoek/
data/djoek/*
!data/djoek/.gitkeep
!data/music
data/music/*
!data/music/.gitkeep
auth-config.json
docker-compose.override.yml
djoek.state
